<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.unisabana.dyas.sampleprj.dao.mybatis.mappers.ClienteMapper">

    <!-- ResultMap para Cliente -->
    <resultMap type="Cliente" id="ClienteResult">
        <id property="documento" column="c_documento"/>
        <result property="nombre" column="c_nombre"/>
        <result property="telefono" column="c_telefono"/>
        <result property="direccion" column="c_direccion"/>
        <result property="email" column="c_email"/>
        <result property="vetado" column="c_vetado"/>
        <collection property="rentados" ofType="ItemRentado" 
                    resultMap="ItemRentadoResult" columnPrefix="ir_"/>
    </resultMap>

    <!-- ResultMap para ItemRentado -->
    <resultMap type="ItemRentado" id="ItemRentadoResult">
        <id property="id" column="ir_id"/>
        <result property="fechainiciorenta" column="ir_fechainiciorenta"/>
        <result property="fechafinrenta" column="ir_fechafinrenta"/>
        <association property="item" javaType="Item" 
                     resultMap="edu.unisabana.dyas.sampleprj.dao.mybatis.mappers.ItemMapper.ItemResult"
                     columnPrefix="i_"/>
    </resultMap>

    <!-- Consultar todos los clientes -->
    <select id="consultarClientes" resultMap="ClienteResult">
        SELECT
            c.documento as c_documento,
            c.nombre as c_nombre,
            c.telefono as c_telefono,
            c.direccion as c_direccion,
            c.email as c_email,
            c.vetado as c_vetado,
            ir.id as ir_id,
            ir.fechainiciorenta as ir_fechainiciorenta,
            ir.fechafinrenta as ir_fechafinrenta,
            i.id as i_id,
            i.nombre as i_nombre,
            i.descripcion as i_descripcion,
            i.fechalanzamiento as i_fechaLanzamiento,
            i.tarifaxdia as i_tarifaxDia,
            i.formatorenta as i_formatoRenta,
            i.genero as i_genero,
            ti.id as ti_id,
            ti.descripcion as ti_descripcion
        FROM VI_CLIENTES c
        LEFT JOIN VI_ITEMRENTADO ir ON c.documento = ir.CLIENTES_documento
        LEFT JOIN VI_ITEMS i ON ir.ITEMS_id = i.id
        LEFT JOIN VI_TIPOITEM ti ON i.TIPOITEM_id = ti.id
    </select>

    <!-- Consultar un cliente por id -->
    <select id="consultarCliente" parameterType="map" resultMap="ClienteResult">
        SELECT
            c.documento as c_documento,
            c.nombre as c_nombre,
            c.telefono as c_telefono,
            c.direccion as c_direccion,
            c.email as c_email,
            c.vetado as c_vetado,
            ir.id as ir_id,
            ir.fechainiciorenta as ir_fechainiciorenta,
            ir.fechafinrenta as ir_fechafinrenta,
            i.id as i_id,
            i.nombre as i_nombre,
            i.descripcion as i_descripcion,
            i.fechalanzamiento as i_fechaLanzamiento,
            i.tarifaxdia as i_tarifaxDia,
            i.formatorenta as i_formatoRenta,
            i.genero as i_genero,
            ti.id as ti_id,
            ti.descripcion as ti_descripcion
        FROM VI_CLIENTES c
        LEFT JOIN VI_ITEMRENTADO ir ON c.documento = ir.CLIENTES_documento
        LEFT JOIN VI_ITEMS i ON ir.ITEMS_id = i.id
        LEFT JOIN VI_TIPOITEM ti ON i.TIPOITEM_id = ti.id
        WHERE c.documento = #{id}
    </select>

    <!-- Agregar item rentado -->
    <insert id="agregarItemRentadoACliente" parameterType="map">
        INSERT INTO VI_ITEMRENTADO(id, CLIENTES_documento, ITEMS_id, fechainiciorenta, fechafinrenta)
        VALUES (null, #{id}, #{idit}, #{fechainicio}, #{fechafin})
    </insert>

</mapper>
