<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.unisabana.dyas.sampleprj.dao.mybatis.mappers.ClienteMapper">

    <resultMap type="Cliente" id="ClienteResult">
        <id property="documento" column="c_documento"/>
        <result property="nombre" column="c_nombre"/>
        <result property="telefono" column="c_telefono"/>
        <result property="direccion" column="c_direccion"/>
        <result property="email" column="c_email"/>
        <result property="vetado" column="c_vetado"/>
        <collection property="rentados" ofType="ItemRentado"
                    resultMap="ItemRentadoResult" columnPrefix="ir_"/>
    </resultMap>

    <resultMap type="ItemRentado" id="ItemRentadoResult">
        <!-- Si quieres evitar futuros errores de fecha aquí también -->
        <result property="fechainiciorenta" column="ir_fechainiciorenta"/>
        <result property="fechafinrenta" column="ir_fechafinrenta"/>
        <association property="item" javaType="Item"
                     resultMap="edu.unisabana.dyas.sampleprj.dao.mybatis.mappers.ItemMapper.ItemResult"
                     columnPrefix="i_"/>
    </resultMap>

    <!-- Consultar todos -->
    <select id="consultarClientes" resultMap="ClienteResult">
        SELECT
            c.documento AS c_documento,
            c.nombre AS c_nombre,
            c.telefono AS c_telefono,
            c.direccion AS c_direccion,
            c.email AS c_email,
            c.vetado AS c_vetado,

            -- Fechas de renta formateadas (por si MyBatis las lee como timestamp)
            CASE WHEN ir.fechainiciorenta IS NOT NULL
                 THEN strftime('%Y-%m-%d %H:%M:%f', ir.fechainiciorenta)
                 ELSE NULL END AS ir_fechainiciorenta,
            CASE WHEN ir.fechafinrenta IS NOT NULL
                 THEN strftime('%Y-%m-%d %H:%M:%f', ir.fechafinrenta)
                 ELSE NULL END AS ir_fechafinrenta,

            i.id AS i_id,
            i.nombre AS i_nombre,
            i.descripcion AS i_descripcion,
            -- OJO: también formateamos la fecha del ítem aquí
            strftime('%Y-%m-%d %H:%M:%f', i.fechalanzamiento) AS i_fechaLanzamiento,
            i.tarifaxdia AS i_tarifaxDia,
            i.formatorenta AS i_formatoRenta,
            i.genero AS i_genero,
            ti.id AS ti_id,
            ti.descripcion AS ti_descripcion
        FROM VI_CLIENTES c
        LEFT JOIN VI_ITEMRENTADO ir ON c.documento = ir.CLIENTES_documento
        LEFT JOIN VI_ITEMS i ON ir.ITEMS_id = i.id
        LEFT JOIN VI_TIPOITEM ti ON i.TIPOITEM_id = ti.id
    </select>

    <!-- Consultar uno -->
    <select id="consultarCliente" parameterType="map" resultMap="ClienteResult">
        SELECT
            c.documento AS c_documento,
            c.nombre AS c_nombre,
            c.telefono AS c_telefono,
            c.direccion AS c_direccion,
            c.email AS c_email,
            c.vetado AS c_vetado,

            CASE WHEN ir.fechainiciorenta IS NOT NULL
                 THEN strftime('%Y-%m-%d %H:%M:%f', ir.fechainiciorenta)
                 ELSE NULL END AS ir_fechainiciorenta,
            CASE WHEN ir.fechafinrenta IS NOT NULL
                 THEN strftime('%Y-%m-%d %H:%M:%f', ir.fechafinrenta)
                 ELSE NULL END AS ir_fechafinrenta,

            i.id AS i_id,
            i.nombre AS i_nombre,
            i.descripcion AS i_descripcion,
            strftime('%Y-%m-%d %H:%M:%f', i.fechalanzamiento) AS i_fechaLanzamiento,
            i.tarifaxdia AS i_tarifaxDia,
            i.formatorenta AS i_formatoRenta,
            i.genero AS i_genero,
            ti.id AS ti_id,
            ti.descripcion AS ti_descripcion
        FROM VI_CLIENTES c
        LEFT JOIN VI_ITEMRENTADO ir ON c.documento = ir.CLIENTES_documento
        LEFT JOIN VI_ITEMS i ON ir.ITEMS_id = i.id
        LEFT JOIN VI_TIPOITEM ti ON i.TIPOITEM_id = ti.id
        WHERE c.documento = #{id}
    </select>

    <insert id="agregarItemRentadoACliente" parameterType="map">
        INSERT INTO VI_ITEMRENTADO(CLIENTES_documento, ITEMS_id, fechainiciorenta, fechafinrenta)
        VALUES (#{id}, #{idit}, #{fechainicio}, #{fechafin})
    </insert>

</mapper>